<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sİzler İçİn</h2>
                <h3 class="section-subheading text-muted">Uygun Otel Fiyatları,Cebinize Uygun Tur Fiyatları ve En
                    Önemlisi Güvenliğiniz</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Tur Rezervasyonu</h4>
                <p class="text-muted">Şubelerimiz haricinde internet sitemizden de turlarımıza katılabilirsiniz. 
                    Hemde şubelerimizde olmayan bazı kampyanlarımıza özel, turlarımızdan satın alıp Türkiye'nin dört bir yanını gezebilirsiniz.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">7/24 Destek Şikayet Hattı</h4>
                <p class="text-muted">Bizden satın alıp memnun olmadığınız turlarımızın eksik yönlerini bize bildirebilirsiniz.
                    Sizler için burdayız, sizler sayesinde büyüyüp gelişeceğiz.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Güvenliğiniz</h4>
                <p class="text-muted">İnternet sitemizden tur seferi alışverişleriniz güvenliğiniz açısından çok önemlidir.
                     Bunun için internet güvenlik protokollerimiz mevcuttur.</p>
            </div>
        </div>
    </div>
</section>